@charset "UTF-8";
html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.55;
  text-rendering: optimizeLegibility;
  width: 100%;
  color: #404040;
  background: url("../img/back-f.svg");
  background-attachment: fixed;
  background-color: #33bb44; }
  @media only screen and (min-width: 720px) {
    html, body {
      background: url("../img/back-f.svg");
      background-attachment: fixed;
      background-color: orange; } }

h1 {
  padding: 40px 0 20px;
  font: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  color: red; }

/* typography */
/*DENTRO DEL DIV GRANDE LA TIPO CAMBIA*/
.pcss3t .typography h3 {
  font-size: 26px;
  line-height: 38px;
  color: #ff6633; }

.pcss3t .typography h4 {
  font-size: 20px;
  line-height: 32px;
  color: #ff6633; }

/*LINK INSIDE DIV CONTAINER*/
.pcss3t .typography a {
  text-decoration: underline;
  color: #ff6633; }

.pcss3t .typography a:hover {
  text-decoration: none; }

.main-container {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px 40px; }

/* MAIN STYLES */
.pcss3t {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 0;
  text-align: left; }

/* HIDE RADIO */
.pcss3t > input {
  position: absolute; }

/* CARACTERÍSTIQUES LABEL */
.pcss3t > label {
  position: relative;
  display: inline-block; }

.pcss3t > input:checked + label {
  cursor: default; }

.pcss3t > ul {
  list-style: none;
  position: relative;
  display: block;
  /*overflow: hidden;*/
  margin: 0;
  padding: 10px;
  /*margen de corte texto*/
  /*border: 0;*/
  outline: none;
  font-size: 1rem; }

.pcss3t > ul > li {
  position: absolute;
  width: 100%;
  overflow: auto;
  padding: 10px 30px;
  /*margen interior div*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 0; }

/*LAYOUT: space inside*/
.pcss3t > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t > .tab-content-7:checked ~ ul .tab-content-7,
.pcss3t > .tab-content-last:checked ~ ul .tab-content-last {
  z-index: 1;
  left: 0;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -webkit-transform: rotate(0deg); }

.pcss3t-height-auto > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t-height-auto > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t-height-auto > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t-height-auto > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t-height-auto > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t-height-auto > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t-height-auto > .tab-content-6:checked ~ ul .tab-content-7,
.pcss3t-height-auto > .tab-content-last:checked ~ ul .tab-content-last {
  display: block; }

/* RESPONSIVE TAGS-label */
@media screen and (max-width: 767px) {
  .pcss3t > label {
    display: block; }
  .pcss3t > .right {
    float: none; } }

/* THEMES */
.pcss3t > label {
  padding: 0 20px;
  border: 5px white solid;
  font-size: 13px;
  line-height: 49px;
  list-type: none; }

.pcss3t > label:hover {
  background: #33bb44; }

.pcss3t > input:checked + label {
  background: #33bb44; }

.pcss3t > ul {
  box-shadow: 0 3px rgba(0, 0, 0, 0.2);
  text-align: left; }

/*ESTILOS DE TAG colores*/
.pcss3t-theme-1 > label,
.pcss3t-theme-2 > label,
.pcss3t-theme-3 > label,
.pcss3t-theme-4 > label,
.pcss3t-theme-5 > label,
.pcss3t-theme-6 > label,
.pcss3t-theme-7 > label {
  margin: 0 5px 5px 0;
  border-radius: 5px;
  background: #0097e8;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  color: white;
  box-shadow: #B9B7B7 0px 3px 3px; }

.pcss3t-theme-1 > label:hover,
.pcss3t-theme-2 > label:hover,
.pcss3t-theme-3 > label:hover,
.pcss3t-theme-4 > label:hover,
.pcss3t-theme-5 > label:hover,
.pcss3t-theme-6 > label:hover,
.pcss3t-theme-7 > label:hover {
  background: #33bb44; }

.pcss3t-theme-1 > input:checked + label,
.pcss3t-theme-2 > input:checked + label,
.pcss3t-theme-3 > input:checked + label,
.pcss3t-theme-4 > input:checked + label,
.pcss3t-theme-5 > input:checked + label,
.pcss3t-theme-6 > input:checked + label,
.pcss3t-theme-7 > input:checked + label {
  margin-bottom: 0;
  padding-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: white; }

.pcss3t-theme-1 > ul,
.pcss3t-theme-2 > ul,
.pcss3t-theme-3 > ul,
.pcss3t-theme-4 > ul,
.pcss3t-theme-5 > ul,
.pcss3t-theme-6 > ul,
.pcss3t-theme-7 > ul {
  border-radius: 5px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2); }

.pcss3t-theme-1 > .tab-content-first:checked ~ ul,
.pcss3t-theme-2 > .tab-content-first:checked ~ ul,
.pcss3t-theme-3 > .tab-content-first:checked ~ ul,
.pcss3t-theme-4 > .tab-content-first:checked ~ ul,
.pcss3t-theme-5 > .tab-content-first:checked ~ ul,
.pcss3t-theme-6 > .tab-content-first:checked ~ ul,
.pcss3t-theme-7 > .tab-content-first:checked ~ ul {
  border-top-left-radius: 0; }

@media screen and (min-width: 767px) {
  .pcss3t-theme-1 > label,
  .pcss3t-theme-2 > label,
  .pcss3t-theme-3 > label,
  .pcss3t-theme-4 > label,
  .pcss3t-theme-5 > label,
  .pcss3t-theme-6 > label,
  .pcss3t-theme-7 > label {
    margin-right: 0; }
  .pcss3t-theme-1 > input:checked + label,
  .pcss3t-theme-2 > input:checked + label,
  .pcss3t-theme-3 > input:checked + label,
  .pcss3t-theme-4 > input:checked + label,
  .pcss3t-theme-5 > input:checked + label,
  .pcss3t-theme-6 > input:checked + label,
  .pcss3t-theme-7 > input:checked + label {
    margin-bottom: 5px;
    padding-bottom: 0;
    border-radius: 5px; }
  .pcss3t-theme-1 > .tab-content-first:checked ~ ul,
  .pcss3t-theme-2 > .tab-content-first:checked ~ ul,
  .pcss3t-theme-3 > .tab-content-first:checked ~ ul,
  .pcss3t-theme-4 > .tab-content-first:checked ~ ul,
  .pcss3t-theme-5 > .tab-content-first:checked ~ ul,
  .pcss3t-theme-6 > .tab-content-first:checked ~ ul,
  .pcss3t-theme-7 > .tab-content-first:checked ~ ul {
    border-top-left-radius: 5px; } }

.pcss3t > ul {
  list-style: none;
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  font-size: 1rem;
  color: #808080;
  background-color: white; }

/*.two-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding: 0 20px 0 20px;
    }*/
/* DIV SIZE */
.pcss3t > ul,
.pcss3t > ul > li {
  height: 500px; }

.img_container {
  width: 200px;
  height: 200px;
  background: url("../img/mostra-img.svg");
  background-position: 50% 42%;
  background-size: 260%;
  border: 5px solid #f2f2f2;
  border-radius: 100%;
  margin: auto;
  margin-bottom: 20px; }

@media only screen and (min-width: 768px) {
  .img_container {
    float: left;
    width: 275px;
    height: 275px;
    margin-right: 30px; } }

#carousel {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box; }

#carousel label:hover, a:hover {
  color: #000; }

#carousel * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#carousel label, #active, img {
  -moz-user-select: none;
  -webkit-user-select: none; }

.catch {
  display: block;
  height: 0;
  overflow: hidden; }

#slider {
  margin: 0 auto; }

#carousel .info {
  line-height: 20px;
  position: absolute;
  font-style: italic;
  padding: 30px;
  opacity: 0;
  color: #000;
  text-align: left; }

#carousel .info h3 {
  color: #333;
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 22px;
  font-style: normal; }

#carousel input {
  display: none; }

#slide1:checked ~ #slides .inner {
  margin-left: 0; }

#slide2:checked ~ #slides .inner {
  margin-left: -100%; }

#slide3:checked ~ #slides .inner {
  margin-left: -200%; }

#slide4:checked ~ #slides .inner {
  margin-left: -300%; }

#slide5:checked ~ #slides .inner {
  margin-left: -400%; }

#overflow {
  width: 100%;
  overflow: hidden; }

#slides article img {
  width: 100%; }

#slides .inner {
  width: 500%;
  line-height: 0; }

#slides article {
  width: 20%;
  float: left; }

#active {
  margin: 10px 0 0;
  text-align: center; }

#active label {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background: #bbb; }

#active label:hover {
  background: #ccc;
  border-color: #777 !important; }

#controls label:hover {
  opacity: 0.8; }

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(1) {
  background: url("next.png") no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block; }

#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
  background: url("prev.png") no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block; }

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
  background: #333;
  border-color: #333 !important; }

#slides {
  margin: 50px 0 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #f8f8f8; }

#slides .inner {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1); }

#slider {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

#controls label {
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out; }

#slide1:checked ~ #slides article:nth-child(1) .info,
#slide2:checked ~ #slides article:nth-child(2) .info,
#slide3:checked ~ #slides article:nth-child(3) .info,
#slide4:checked ~ #slides article:nth-child(4) .info,
#slide5:checked ~ #slides article:nth-child(5) .info {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -moz-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s; }

.info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

@media only screen and (max-width: 850px) and (min-width: 450px) {
  #slider #controls {
    margin: -25% 0 0 15%;
    width: 70%;
    height: 50px; }
  #slider #controls label {
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  #slider #slides {
    padding: 1% 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; }
  #slider #active {
    margin: 22% 0 0; } }

@media only screen and (max-width: 450px) {
  #slider #controls {
    margin: -28% 0 0 24%;
    width: 50%;
    height: 50px; }
  #slider #active {
    margin: 23% 0 0; }
  #slider #slides {
    padding: 1% 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; }
  #slider #slides .info {
    opacity: 0 !important; }
  #slider #controls label {
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6); } }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent displaying `audio` without controls in Mobile Safari 4/5/6/7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address inconsistent styling of `abbr[title]`.
 * 1. Correct styling in Firefox 39 and Opera 12.
 * 2. Correct missing styling in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Address inconsistent styling of b and strong.
 * 1. Correct duplicate application of `bolder` in Safari 6.0.2.
 * 2. Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+.
 */
b,
strong {
  font-weight: inherit;
  /* 1 */ }

b,
strong {
  font-weight: bolder;
  /* 2 */ }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address inconsistent styling of `hr`.
 * 1. Correct `box-sizing` set to `border-box` in Firefox.
 * 2. Correct `overflow` set to `hidden` in IE 8/9/10/11 and Edge 12.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * 1. Correct inheritance and scaling of font-size for preformatted text.
 * 2. Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct font properties not being inherited.
 * 2. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Restore focus style in Firefox 4+ (unset by a rule above)
 */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * Address `appearance` set to `searchfield` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Restore font weight (unset by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }
