html, body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 1.55;
	text-rendering: optimizeLegibility;
  width:100%;  
  color: #404040;
  background: url("../img/back-f.svg");
        background-attachment: fixed;
        background-color:#32abec;
        @media only screen and (min-width: 720px) {
            background: url("../img/back-f.svg");
        background-attachment: fixed;
        background-color:#0097e8;
    }
}
