.main-container {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px 40px;

}

/* MAIN STYLES */

.pcss3t {
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 0;
    text-align: left;
}

/* HIDE RADIO */
.pcss3t > input {
    position: absolute;
    visibility:hidden;
}

/* CARACTERÃSTIQUES LABEL */
.pcss3t > label {
    position: relative;
    display: inline-block;
}

.pcss3t > input:checked + label {
    cursor: default;
}

.pcss3t > ul {
    list-style: none;
    position: relative;
    display: block;
    /*overflow: hidden;*/
    margin: 0;
    padding: 10px; /*margen de corte texto*/
    /*border: 0;*/
    outline: none;
    font-size: 1rem;
}

.pcss3t > ul > li {
    position: absolute;
    width: 100%;
    overflow: auto;
    padding: 10px 30px; /*margen interior div*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    opacity: 0;
}

/*LAYOUT: space inside*/

.pcss3t > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t > .tab-content-7:checked ~ ul .tab-content-7,
.pcss3t > .tab-content-last:checked ~ ul .tab-content-last {
    z-index: 1;
    left: 0;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transform: rotate(0deg);
}

.pcss3t-height-auto > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t-height-auto > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t-height-auto > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t-height-auto > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t-height-auto > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t-height-auto > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t-height-auto > .tab-content-6:checked ~ ul .tab-content-7,
.pcss3t-height-auto > .tab-content-last:checked ~ ul .tab-content-last {
    display: block;
}

/* RESPONSIVE TAGS-label */

@media screen and (max-width: 767px) {
    .pcss3t > label {
        display: block;
    }
    .pcss3t > .right {
        float: none;
    }
}

/* THEMES */

.pcss3t > label {   
    padding: 0 20px;
    border: 5px white solid;
    font-size: 13px;
    line-height: 49px;
    list-type: none;
}

.pcss3t > label:hover {
    background: pink;

}

.pcss3t > input:checked + label {
    background: black;
}

.pcss3t > ul {   
    box-shadow: 0 3px rgba(0,0,0,0.2);
    text-align: left;
}

/*ESTILOS DE TAG colores*/
.pcss3t-theme-1 > label,
.pcss3t-theme-2 > label,
.pcss3t-theme-3 > label,
.pcss3t-theme-4 > label,
.pcss3t-theme-5 > label, 
.pcss3t-theme-6 > label,
.pcss3t-theme-7 > label {
    margin: 5px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 2px rgba(0,0,0,0.2);
    color:$btn-bg;
    box-shadow:$btn-shadow 0px 3px 3px;
}

.pcss3t-theme-1 > label:hover,
.pcss3t-theme-2 > label:hover,
.pcss3t-theme-3 > label:hover,
.pcss3t-theme-4 > label:hover,
.pcss3t-theme-5 > label:hover,
.pcss3t-theme-6 > label:hover,
.pcss3t-theme-7 > label:hover {
    background:$btn-bg;
    color:white;
    border-radius: 5px;

}

.pcss3t-theme-1 > input:checked + label,
.pcss3t-theme-2 > input:checked + label,
.pcss3t-theme-3 > input:checked + label,
.pcss3t-theme-4 > input:checked + label,
.pcss3t-theme-5 > input:checked + label,
.pcss3t-theme-6 > input:checked + label,
.pcss3t-theme-7 > input:checked + label {
    margin-bottom: 0;
    padding-bottom: 5px;
    border-radius: 5px;
    background:$btn-bg;
    color:white;
}

.pcss3t-theme-1 > ul,
.pcss3t-theme-2 > ul,
.pcss3t-theme-3 > ul,
.pcss3t-theme-4 > ul,
.pcss3t-theme-5 > ul,
.pcss3t-theme-6 > ul,
.pcss3t-theme-7 > ul {
    border-radius: 5px;
    box-shadow: 0 3px rgba(0,0,0,0.2);
}
.pcss3t-theme-1 > .tab-content-first:checked ~ ul,
.pcss3t-theme-2 > .tab-content-first:checked ~ ul,
.pcss3t-theme-3 > .tab-content-first:checked ~ ul,
.pcss3t-theme-4 > .tab-content-first:checked ~ ul,
.pcss3t-theme-5 > .tab-content-first:checked ~ ul,
.pcss3t-theme-6 > .tab-content-first:checked ~ ul,
.pcss3t-theme-7 > .tab-content-first:checked ~ ul {
    border-radius: 5px;
}

@media screen and (min-width: 767px) {
    .pcss3t-theme-1 > label,
    .pcss3t-theme-2 > label,
    .pcss3t-theme-3 > label,
    .pcss3t-theme-4 > label,
    .pcss3t-theme-5 > label,
    .pcss3t-theme-6 > label,
    .pcss3t-theme-7 > label {
        margin-right: 0;
        padding-right: 1.3rem;
        padding-left: 1.3rem;
    }

    .pcss3t-theme-1 > input:checked + label,
    .pcss3t-theme-2 > input:checked + label,
    .pcss3t-theme-3 > input:checked + label,
    .pcss3t-theme-4 > input:checked + label,
    .pcss3t-theme-5 > input:checked + label,
    .pcss3t-theme-6 > input:checked + label,
    .pcss3t-theme-7 > input:checked + label {
        margin-bottom: 5px;
        padding-bottom: 0;
        border-radius: 5px;
    }

    .pcss3t-theme-1 > .tab-content-first:checked ~ ul,
    .pcss3t-theme-2 > .tab-content-first:checked ~ ul,
    .pcss3t-theme-3 > .tab-content-first:checked ~ ul,
    .pcss3t-theme-4 > .tab-content-first:checked ~ ul,
    .pcss3t-theme-5 > .tab-content-first:checked ~ ul,
    .pcss3t-theme-6 > .tab-content-first:checked ~ ul,
    .pcss3t-theme-7 > .tab-content-first:checked ~ ul {
        border-top-left-radius: 5px;
    }
    }

    .pcss3t > ul {
        margin:10px;
        list-style: none;
        position: relative;
        display: block;
        overflow: hidden;
        outline: none;
        font-size: 1rem;
        color:$text;
        background-color: white;
    }


/* DIV SIZE */

.pcss3t > ul,
.pcss3t > ul > li {
    height: 700px;
}
